<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf 8">
    <title>Dynamic table</title>  
    <link rel="stylesheet" href="home.css"> 
</head>  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
<body>  
   <div ng-app="myApp" ng-controller="myCtrl"> 
    <!-- <form>
        <label>Number of Rows: <input type="number" ng-model="numRows"></label>
        <label>Number of Columns: <input type="number" ng-model="numCols"></label>
        <button ng-click="generateTable()">Generate Table</button>
    </form>  -->

      <!-- <table ng-if="rows.length > 0 && columns.length > 0">
        <tr ng-repeat="row in rows track by $index">
          <td ng-repeat="col in columns track by $index"><input type="text"></td>
        </tr>
      </table> -->
      
      <!-- <div id="gridParent">
        
      </div> -->
      
      <div id="gridParent">
        
      </div>
      
    </div> 


<script>  
    // angular.module("app", []).controller("HelloWorldCtrl", function($scope) {  
    // $scope.message="Hello World" 
    // } ) 
//   $scope.generateTable = function() {
//   $scope.rows = new Array($scope.numRows);
//   $scope.columns = new Array($scope.numCols);
// }  
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  
  const arr = [
    {
        name: "Shourov",
        url: "https://www.google.com"
    },
    {
        name: "Foisal",
        url: "https://www.google.com"
    },
    {
        name: "Emon",
        url: "https://www.google.com"
    },
    {
        name: "Enamul",
        url: "https://www.google.com"
    },
    {
        name: "Salman",
        url: "https://www.google.com"
    },
    {
        name: "Mehedi",
        url: "https://www.google.com"
    },
    {
        name: "Shubho",
        url: "https://www.google.com"
    },
    {
        name: "Jakaria",
        url: "https://www.google.com"
    },
  ]
    
  let gridParent = document.getElementById('gridParent');
  
  let rows = 2;
  let arrLen = arr.length;
  let perRowElem = Math.ceil(arrLen/rows);
  
  gridParent.style.gridTemplateColumns = `repeat(${perRowElem}, 1fr)`;
  
  arr.forEach(elem => {
      
      let gridItem = document.createElement('div');
      gridItem.classList.add("gridItem");
      
      let linkElement = document.createElement('a');
      linkElement.innerHTML = elem.name;
      linkElement.setAttribute("href", elem.url);
      linkElement.setAttribute("target", "_blank");
      gridItem.appendChild(linkElement);
      
      gridParent.appendChild(gridItem);
  });
  
  
  // $scope.generateTable = function() {
  // $scope.rows = new Array($scope.numRows);
  // $scope.columns = new Array($scope.numCols);
//  } 
});


</script> 

</body>  
</html>